@media screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .loaderScroll {
    bottom: 15px;
  }
}

@media screen and (max-height: 360px) {
  .loaderScroll {
    width: 20px;
    height: 37px;
    bottom: 12px;
  }

  #route-01,
  #route-02,
  #route-03,
  #route-04 {
    p {
      display: none;
    }
  }
}

@media screen and (max-width: 360px) {
  #route-01,
  #route-02,
  #route-03,
  #route-04 {
    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 18px;
    }

  }
}

/* header */
#header #intro {
  margin-top: 17%;
  max-width: 59vw;
  width: 100%;
}

#header #intro h1 {
  transform: translate(-50%, -1%) skewY(-10deg);
  font-size: 6.6vw;
}

#header #intro h2 {
  font-size: 2vw;
}

#header.scrollEffectStart img.firstImg {
  width: 120% !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -16%);
  transition: all 1.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  #header #intro h2 {
    transform: translate(-50%, -574%) skewY(-10deg);
    font-size: 3vw;
    text-shadow: 0px 2px 1px #000000;
  }
}

/* EXPERIENCES */
#header #titre-route00 {
  text-align: center;
  width: 18vw;
  margin: 12vh auto 0;
  opacity: 0;
  transition: all 1s linear;
}

#header img.firstImg {
  width: 100% !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -12%);
  transition: all 1.5s ease-in-out;
}

#titre-route00 h1 {
  font-size: 2.2vw;
}

@media screen and (max-width: 1024px) {
  #header #titre-route00 {
    margin: 6vh auto 0;
  }
}

@media screen and (max-width: 800px) {
  #header #titre-route00 {
    margin: 4vh auto 0;
    width: 200px;
  }
  #header.scrollEffectStart img.firstImg {
    width: 160% !important;
  }
}

@media screen and (max-width: 320px) {
  #header #titre-route00 {
    margin: 16vh auto 0;
  }
  #header.scrollEffectStart img.firstImg {
    width: 210% !important;
    transform: translate(-50%, -16%);
  }
}

/* route-01 */
#route-01 {
  transition: all 0.8s ease-in-out;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-76%, 100%);
  width: 900px;
  height: 0;
}

#route-01 img {
  width: 49%;
  transform: translate(-10%, -5%);
}

#route-01 .text-route-01 {
  transition: all 0.8s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(35%, 400vh);
  max-width: 540px;
  width: 100%;
}

#route-01.scrollEffectStart .text-route-01 {
  transform: translate(35%, -30%);
}

#route-01.scrollEffectStart {
  transform: translate(-76%, -40%);
}

@media screen and (max-width: 800px) {
  #route-01.scrollEffectStart .text-route-01 {
    transform: translate(43%, -30%);
    max-width: 420px;

  }
}

@media screen and (max-width: 768px) {
  #route-01.scrollEffectStart .text-route-01 {
    transform: translate(63%, -60%);
    max-width: 280px;
  }
}


@media screen and (max-height: 360px) {
  #route-01.scrollEffectStart .text-route-01 {
    transform: translate(63%, -10%);
    max-width: 280px;
  }

  #route-01.scrollEffectStart img {
    width: 28%;
    transform: translate(20%, -7%);
  }
}


@media screen and (max-width: 375px) {
  #route-01.scrollEffectStart .text-route-01 {
    transform: translate(65%, -51%);
    max-width: 245px;
  }
}

@media screen and (max-width: 360px) {
  #route-01.scrollEffectStart {
    transform: translate(-83%, -40%);
  }

  #route-01.scrollEffectStart .text-route-01 {
    transform: translate(63%, -60%);
    max-width: 280px;
  }

  #route-01.scrollEffectStart img {
    width: 19%;
    transform: translate(51%, 15%);
  }
}


/* route-02 */
#route-02 {
  transition: all 0.8s ease-in-out;
  width: 900px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-49%, 100%);
  height: 0;
}

#route-02.scrollEffectStart {
  transform: translate(-49%, -50%);
}

#route-02 .text-route-02 {
  transition: all 0.8s ease-in-out;
  transform: translate(-86%, 400%);
}

#route-02.scrollEffectStart .text-route-02 {
  transform: translate(-86%, -11%);
}

#route-02 img {
  width: 100%;
  transform: translate(-40%, -4%);
}

@media screen and (max-width: 800px) {
  #route-02.scrollEffectStart .text-route-02 {
    transform: translate(-79%, -11%);
    max-width: 462px;
  }
}

@media screen and (max-width: 768px) {
  #route-02.scrollEffectStart .text-route-02 {
    transform: translate(-70%, -51%);
    max-width: 280px;
  }
}

@media screen and (max-height: 360px) {
  #route-02.scrollEffectStart .text-route-02 {
    transform: translate(-79%, -19%);
    max-width: 280px;
  }

  #route-02 img {
    width: 60%;
    transform: translate(-40%, -7%);
  }
}

@media screen and (max-width: 375px) {
  #route-02.scrollEffectStart .text-route-02 {
    transform: translate(-66%, -50%);
    max-width: 245px;
  }

  #route-02 img {
    width: 100%;
    transform: translate(-42%, -6%);
  }
}

@media screen and (max-width: 360px) {
  #route-02.scrollEffectStart .text-route-02 {
    transform: translate(-60%, -51%);
  }

  #route-02 img {
    width: 60%;
    transform: translate(-30%, 3%);
  }
}

/* route-03 */
#route-03 {
  transition: all 0.8s ease-in-out;
  width: 900px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-78%, 100%);
  height: 0;
}

#route-03 img {
  transform: translate(-40%, -11%);
}

#route-03 .text-route-03 {
  transition: all 0.8s ease-in-out;
  transform: translate(43%, 400%);
}

#route-03.scrollEffectStart .text-route-03 {
  transform: translate(43%, 0%);
}

@media screen and (max-width: 800px) {
  #route-03.scrollEffectStart .text-route-03 {
    transform: translate(49%, -11%);
    max-width: 430px;
  }
}

@media screen and (max-width: 768px) {
  #route-03.scrollEffectStart .text-route-03 {
    transform: translate(79%, -63%);
    max-width: 280px;
  }
}

@media screen and (max-height: 360px) {
  #route-03.scrollEffectStart .text-route-03 {
    transform: translate(106%, -13%);
    max-width: 280px;
  }

  #route-03 img {
    width: 50%;
    transform: translate(-24%, -11%);
  }
}

@media screen and (max-width: 375px) {
  #route-03.scrollEffectStart .text-route-03 {
    transform: translate(89%, -53%);
    max-width: 225px;
  }

  #route-03 img {
    transform: translate(-43%, -12%);
  }
}

@media screen and (max-width: 360px) {
  #route-03.scrollEffectStart .text-route-03 {
    transform: translate(50%, -66%);
  }

  #route-03 img {
    width: 46%;
    transform: translate(-8%, 19%);
  }
}

/* route-04 */
#route-04 {
  transition: all 0.8s ease-in-out;
  width: 900px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-65%, 100%);
  height: 0;
}

#route-04.scrollEffectStart {
  transform: translate(-65%, -50%);
}

#route-04 img {
  width: 70%;
  transform: translate(0%, 0%);
}

#route-04 .text-route-04 {
  transition: all 0.8s ease-in-out;
  text-align: right;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-55%, 400%);
  max-width: 540px;
  width: 100%;
}

#route-04.scrollEffectStart .text-route-04 {
  transform: translate(-55%, -14%);
}

@media screen and (max-width: 800px) {
  #route-04.scrollEffectStart .text-route-04 {
    transform: translate(-45%, -23%);
    max-width: 430px;
  }

  #titre-route00 h1 {
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  #route-04.scrollEffectStart .text-route-04 {
    transform: translate(-15%, -53%);
    max-width: 280px;
  }
}

@media screen and (max-height: 360px) {
  #route-04.scrollEffectStart .text-route-04 {
    transform: translate(-15%, -14%);
    max-width: 280px;
  }

  #route-04 img {
    width: 50%;
    transform: translate(20%, -10%);
  }
}

@media screen and (max-width: 375px) {
  #route-04.scrollEffectStart .text-route-04 {
    transform: translate(-5%, -45%);
    max-width: 245px;
  }

  #route-04 img {
    width: 70%;
    transform: translate(-4%, 0%);
  }
}

@media screen and (max-width: 360px) {
  #route-04.scrollEffectStart .text-route-04 {
    transform: translate(-5%, -63%);
  }

  #route-04 img {
    width: 45%;
    transform: translate(2%, 24%);
  }
}

/* skills */
#skills .skills-nav {
  max-width: 900px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-height: 823px) {
  #skills .skills-nav {
    transform: translateX(-52%);
    margin-top: 29px;
  }

  #skills ul li {
    transform: translate(-50%, -30%);
  }

}

@media screen and (max-height: 732px) {
  #skills .skills-nav {
    top: 15%;
    transform: translateX(-52%);
  }
}

@media screen and (max-height: 667px) {
  #skills ul li {
    transform: translate(-50%, -22%);
  }
}

@media screen and (max-height: 640px) {
  #skills ul li .content-skills-text img.fluid {
    width: 55%;
    padding: 20px 20px 20px 20px;
  }

  #skills .skills-nav {
    margin-top: 40px;
  }

  #skills ul li {
    transform: translate(-50%, -20%);
  }
}

@media screen and (max-height: 720px) {
  #skills ul li .content-skills-text img.fluid {
    width: 80%;
    padding: 30px 20px 20px 20px;
  }
}

@media screen and (max-height: 640px) {
  #skills ul li .content-skills-text img.fluid {
    width: 55%;
    padding: 20px 20px 20px 20px;
  }

  #skills .skills-nav {
    margin-top: 40px;
  }

  #skills ul li {
    transform: translate(-50%, -20%);
  }
}

@media screen and (max-height: 360px) {
  #skills ul li {
    transform: translate(-50%, -35%);
  }

  #skills ul li .content-skills-text img.fluid {
    display: none;
  }

  #skills ul li .content-skills-text {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
  }

  #skills .skills-nav {
    margin-top: 70px;
  }
}

@media screen and (max-height: 533px) {
  .burger {
    // top: 84%;
  }

  #skills .title-skills {
    transform: translate(-57%, 30%);
  }

  #skills .skills-nav {
    margin-top: 15px;
  }
}

@media screen and (max-height: 384px) {
  #skills .title-skills {
    width: 480px;
    position: relative;
    left: 50%;
    transform: translate(-60%, 30%);
  }

  #skills ul li .content-skills-text img.fluid {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }
}

@media screen and (max-width: 384px) {
  #header #intro {
    margin-top: 66%;
    max-width: 59vw;
    width: 100%;
  }

  #header #intro h1 {
    transform: translate(-50%, -1%) skewY(-10deg);
    font-size: 12.6vw;
  }

  #skills .title-skills {
    width: 480px;
    position: relative;
    left: 50%;
    transform: translate(-57%, 30%);
  }

  #skills ul li .content-skills-text img.fluid {
    width: 100%;
  }

  #skills ul li .content-skills-text p {
    margin: -25px 20px 0;
  }
}

@media screen and (max-width: 280px) {

  #header #intro {
    margin-top: 66%;
    max-width: 59vw;
    width: 100%;
  }

  #header #intro h1 {
    transform: translate(-50%, -1%) skewY(-10deg);
    font-size: 12.6vw;
  }

  #header #intro h2 {
    transform: translate(-50%, 126%) skewY(-10deg);
    font-size: 3vw;
    text-shadow: 0px 2px 1px #000000;
  }

  #header.scrollEffectStart img.firstImg {
    width: 300% !important;
  }

  #header #titre-route00 {
    margin: 15vh auto 0;
    width: 58vw;
  }

  #titre-route00 h1 {
    font-size: 6.2vw;
  }

  #route-01.scrollEffectStart .text-route-01 {
    transform: translate(63%, -60%);
    max-width: 267px;
    padding: 5px;
    box-sizing: border-box;
  }

  #route-02.scrollEffectStart .text-route-02 {
    transform: translate(-57%, -60%);
    max-width: 267px;
    padding: 5px;
  }

  #route-03.scrollEffectStart .text-route-03 {
    transform: translate(48%, -70%);
    max-width: 267px;
    padding: 5px;
  }

  #route-04.scrollEffectStart .text-route-04 {
    transform: translate(-1%, -69%);
    max-width: 267px;
    padding: 5px;
  }

  #skills .title-skills h1 {
    font-size: 20px;
  }
}


/* studies */
@media screen and (max-height: 800px) {
  #slider-content {
    .slide {
      p {
        display:none
      }
    }
  }
}

@media screen and (max-width: 750px) {
  section.studies {
    -webkit-box-shadow: 0px -20px 20px 0px #040404;
    -moz-box-shadow: 0px -20px 20px 0px #040404;
    box-shadow: 0px -20px 20px 0px #040404;
    box-sizing: content-box;
    padding: 20px 15px 100px 15px;
    background-color: #040404;

    .title-studies {
      width: 1100px;
      transform: translate(-50%, 0);
      h1 {
        text-align: center;
        font-size: 20px;
        transform: skewY(10deg);
      }
      hr {
        transform: skewY(10deg);
      }
    }

    h1 {
      font-size: 34px;
      margin-bottom: 60px;
      text-align: left;
    }

    .container-timeLineH {
      margin: 0;
      padding: 0;
      width: 68px;
      float: left;
      margin-top: -123px;
      position: relative;
      z-index: 999;

      ul.timeLineH {
        padding: 0;
        box-sizing: border-box;
        list-style-type: none;
        max-width: 2px;
        width: 2px;
        height: 500px;
        background-color: white;
        margin: 50px 0 0 0;
        display: inline-block;
      }

      ul.timeLineH:before,
      ul.timeLineH:after {
        position: relative;
        content: "";
        height: 0;
        width: 0;
        background-color: white;
        float: none;
        border-radius: 50%;
        margin-top: 0;
        margin-right: -9px;
        left: 100%;
      }

      ul.timeLineH:after {
        margin-top: -9px;
        left: -100%;
        position: relative;
        float: right;
      }
    }

    /*
    * Button
     */
    ul.timeLineH li {
      button {
        color: white;
        font-weight: bold;
        float: none;
        position: relative;
        outline: none;
        border: 2px solid white;
        height: 46px;
        background-color: #040404;
        display: inline;
        margin: 15px 0 0 11%;
        margin-top: 30px;
        margin-left: -22px;
        border-radius: 30px;
        box-sizing: border-box;
        transition: all 0.6s ease-in-out;
      }

      button:hover,
      button:focus,
      button.active {
        background-color: #39FF64;
        border: 2px solid #39FF64;
        color: #040404;
      }

      button.active {
        margin-left: -27px;
      }
    }

    .slider {
      position: relative;
      max-width: 70%;
      min-height: 400px;
      margin: 0 auto;
      width: 70%;
      float: left;

      .slide {
        opacity: 0;
        color: white;
        position: absolute;
        display: inline-block;
        transition: all 0.6s ease-in-out;
        margin: 0 auto;
        left: -150px;

        .case {
          margin-bottom: 20px;
        }

        h1, h2, h3, p {
          padding:8px;
          margin:0;
          text-align: left;
        }

        h1 {
          font-weight: bolder;
          font-style: normal;
          font-size: 20px;
        }

        h2 {
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
        }

        h3, p {
          font-weight: normal;
          font-style: italic;
          font-size: 16px;
        }

        p {
          font-weight: normal;
          font-style: normal;
        }
      }

      .slide.show {
        opacity: 1;
        color: white;
        position: relative;
        margin: 0 auto;
        left: 15px;
        margin-top: 9%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  section.studies .container-timeLineH ul.timeLineH {
    margin: 17px;
    margin-top: 30px;
  }

  section.etudes .slider .slide.show {
    margin-top: 0;
    transform: none;
  }

  .case h1 {
    color:white !important;
  }

  .case p {
    display:none;
  }
}


@media screen and (max-width: 280px) {
  section.studies .container-timeLineH {
    margin-left: -13px;
  }

  section.studies .slider .slide h1 {
    font-size: 16px;
  }

  section.studies ul.timeLineH li button:focus, section.studies ul.timeLineH li button.active {
    background-color: #39FF64;
    border: 2px solid #39FF64;
    color: #040404;
    height: 46px;
    width: 46px;
  }

  section.studies .slider {
    margin-left: -11px;
  }
}