{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="container-page" class="container-page">
        {% include 'inc/navigation.html.twig' %}
    </div>
    {% include 'inc/loader.html.twig' %}
    {% include 'inc/progressBar.html.twig' %}
    <div class="wrap">
        <div class="bg"></div>
    </div>


{% endblock %}
