<section id="callToAction" class="call-to-action">
        <div class="console">
            <div class="console__top" >
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
            </div>
            <div class="console__middle" >
                <pre><span class="orange">export class </span> Thomas_Gravy {

    <span class="orange">public</span> <span class="yellow">you_need_a_developer</span> (job , frontEndDeveloper, meetingTime) {

        <span class="orange">if</span> ( job && frontEndDeveloper ) {

            <span class="orange">let</span> meetingTime = Now();
            <span class="orange">let</span> message = <span class="green">"Je suis impatient de vous rencontrer !"</span>;
            <span class="orange">return</span> message + <span class="green">"le "</span> + meetingTime;

        } <span class="orange">else</span> {
            <span class="orange">return this</span>.message = <span class="green">"Veuillez réessayer"</span>;
        }
    }
}</pre>
            </div>
            <div class="console__bottom" ></div>
        </div>

        <div class="console_second">
            <div class="console__top" >
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
            </div>
            <div class="console__middle" >
                <button data-scrolling="contact" class="btnScrolling btn btn-green">Me contacter</button>
            </div>
            <div class="console__bottom" ></div>
        </div>
    <div class="more" style="text-align: center" >
        <!-- <h2 class="color-green">Mon parcours</h2> -->
        <img class="arrow_bottom" src="icons/intro.svg" />
    </div>
</section>
