<header>
    {% include 'partials/burger.html.twig' %}

    <div class="header__container">
        <img class="fluid-img" src="images/header/tinified/header-canvas.png" />
        <div id="parallax_header" class="header__content">

        </div>
    </div>
</header>

