<section id="timeLine" class="timeline route__container">
    <ul>
        <li class="elemTimeline in-view">
            <div>
                <img  src="images/route/tinified/route-01.png" />
                <span class="text">
                    <h3>nov. 2016 – déc. 2019</h3>
                    <h1>SCRUM MASTER</h1>
                    <h2>THOMAS & PIRON</h2>
                </span>
            </div>
        </li>
        <li class="elemTimeline in-view">
            <div>
                <img src="images/route/tinified/route-02.png" />
                <span class="text">
                    <h3>nov. 2016 – déc. 2019</h3>
                    <h1>SCRUM MASTER</h1>
                    <h2>THOMAS & PIRON</h2>
                </span>
            </div>
        </li>
        <li class="elemTimeline in-view">
            <div>
                <img src="images/route/tinified/route-03.png" />
                <span class="text">
                    <h3>nov. 2016 – déc. 2019</h3>
                    <h1>SCRUM MASTER</h1>
                    <h2>THOMAS & PIRON</h2>
                </span>
            </div>
        </li>
        <li class="elemTimeline in-view">
            <div>
                <img src="images/route/tinified/route-04.png" />
                <span class="text">
                    <h3>nov. 2016 – déc. 2019</h3>
                    <h1>SCRUM MASTER</h1>
                    <h2>THOMAS & PIRON</h2>
                </span>
            </div>
        </li>
    </ul>
</section>
