<section id="timeLine" class="timeline route__container">
    <ul>
        <li class="elemTimeline ">
            <div class="text opacity">
                <h3 class="color-green">nov. 2018 – juil. 2020</h3>
                <h1 class="color-green">SCRUM MASTER</h1>
                <h2 class="color-green">Thomas & Piron ICT SA, Namur </h2>
                <p>
                    Lorsque Side S.A est devenu Thomas et Piron ICT,
                    je suis devenu le scrum Master d’une équipe de développeur JAVA,
                    où j’ai enrichi mes compétences relationnel,
                    mis en pratique les outils que propose le cadre Agile dans
                    l’organisation d’une équipe,
                    et ainsi mieux appréhender les différents workflow d’un projetde développement.
                    Parallèlement, j’ai continuer à affiner mes compétences de frontend dev dans
                    leur divers projets.
                </p>
            </div>
            <img class="effect" src="images/route/tinified/route-01.png" alt=""/>
        </li>
        <li class="elemTimeline">
            <div class="text opacity">
                <h3 class="color-green">nov. 2016 – déc. 2019</h3>
                <h1 class="color-green">Développeur web</h1>
                <h2 class="color-green">Side S.A., Our</h2>
                <p>
                    J’ai apporté mes compétences au sein de Side S.A pour qui j’ai réaliser
                    divers travaux de graphismes (logo, lettrage, illustration, …),
                    montages vidéo, reportage photo, création d’interface d’application,
                    Frontend et backend développement en contact direct avec les clients,
                    notamment avec Thomas & Piron qui était notre principal client.

                </p>
            </div>
            <img class="effect" src="images/route/tinified/route-02.png"/>
        </li>
        <li class="elemTimeline">
            <div class="text opacity">
                <h3 class="color-green">sept. 2018 – juil. 2019</h3>
                <h1 class="color-green">Formateur développeur Web</h1>
                <h2 class="color-green">Collège Technique des Aumôniers du Travail, Charleroi</h2>
                <p>
                    J’ai eu l’occasion d’enseigner les rudiments de l’html et css dans le
                    cour de” web principe” de base puis de Php / Mysql dans le cours de
                    “développement de projet web”.
                </p>
            </div>
            <img class="effect" src="images/route/tinified/route-03.png"/>
        </li>
        <li class="elemTimeline">
            <div class="text opacity">
                <h3 class="color-green">oct. 2015 – juin 2016</h3>
                <h1 class="color-green">Infographiste / Webdesigner</h1>
                <h2 class="color-green">Indépendant à temps plein, Gembloux</h2>
                <p>
                    en tant qu’indépendant j’ai pu affirmer mes connaissances dans la
                    réalisation d’identité visuelle et de site web pour mes client mais
                    aussi en tant que freelance, dans le domaine du cinéma et pour divers
                    société comme Expansion, Hclo3, ...
                </p>
            </div>
            <img class="effect" src="images/route/tinified/route-04.png"/>
        </li>
    </ul>
</section>
