<section id="timeLine" class="timeline route__container">
    <ul>
        <li class="elemTimeline">
            <div>
                <img  src="images/route_00.png" />
                <span class="text">
                    <h3>nov. 2016 – déc. 2019</h3>
                    <h1>SCRUM MASTER</h1>
                    <h2>THOMAS & PIRON</h2>
                </span>
            </div>
        </li>
        <li class="elemTimeline">
            <div>
                <img src="images/route_01.png" />
                <span class="text">
                    <h3>nov. 2016 – déc. 2019</h3>
                    <h1>SCRUM MASTER</h1>
                    <h2>THOMAS & PIRON</h2>
                </span>
            </div>
        </li>
    </ul>
</section>