<section id="timeLine" class="timeline route__container">
    <table id="animate" border="0">
        <tbody>
        <tr>
            <td><div class="rectangle_1"></div></td>
            <td><div class="rectangle_4"></div></td>
        </tr>
        <tr>
            <td><div class="rectangle_2"></div></td>
            <td><div class="rectangle_3"></div></td>
        </tr>
        </tbody>
    </table>
    <ul>
        <li class="elemTimeline">
            <div>
                <img  src="images/route_00.png" />
                <span class="text">
                    <h3>nov. 2016 – déc. 2019</h3>
                    <h1>SCRUM MASTER</h1>
                    <h2>THOMAS & PIRON</h2>
                </span>
            </div>
            <span class="loader">
                 <img class="rotating" src="images/loader.svg" />
            </span>
        </li>
        <li class="elemTimeline">
            <div>
                <img src="images/route_01.png" />
                <span class="text">
                    <h3>nov. 2016 – déc. 2019</h3>
                    <h1>SCRUM MASTER</h1>
                    <h2>THOMAS & PIRON</h2>
                </span>
            </div>
        </li>
    </ul>
</section>