<section id="skills" class="skills">
    <div class="skills_content">
        <div class="row introduction text-center">
            <div class="col-1 ">
                <h1 class="titre ">Compétences</h1>
            </div>
        </div>
        <div class="row frontend text-center">
            <div class="col-1">
                <h2 class="titre">Titre</h2>
                <div class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc odio, posuere id efficitur ac,
                    tempus nec sapien. Phasellus varius non lorem ut lacinia. Morbi luctus ut neque ut tempor. Maecenas
                    feugiat urna in lectus sodales convallis. Suspendisse sit amet lectus lectus. Cras dignissim rhoncus
                    neque, nec finibus tortor ornare nec. Nunc dictum auctor augue, id sagittis dui ultrices vitae.
                    Mauris tempus ipsum id tortor finibus, eget elementum nibh rutrum.
                </div>
            </div>
            <div class="col-1">
                <div class="skills">
                    <img style="margin: 25px;width: 650px;" class="fluid-img" src="images/skills-frontend-opti.png"  alt=""/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="design col-2">
                <div class="col-2">
                    <div class="skills">
                        <img style="width:100%;" class="fluid-img" src="images/skills-backend-opti.png"  alt=""/>
                    </div>
                </div>
                <div class="col-2" style="padding: 20px;box-sizing: border-box;margin-top: -54px;">
                    <h1 class="titre">Titre</h1>
                    <div class="text" >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc odio, posuere id efficitur
                        ac, tempus nec sapien. Phasellus varius non lorem ut lacinia. Morbi luctus ut neque ut tempor.
                        Maecenas feugiat urna in lectus sodales convallis. Suspendisse sit amet lectus lectus. Cras
                        dignissim rhoncus neque, nec finibus tortor ornare nec. Nunc dictum auctor augue, id sagittis
                        dui ultrices vitae. Mauris tempus ipsum id tortor finibus, eget elementum nibh rutrum.
                    </div>
                </div>
            </div>
            <div class="backend col-2">
                <div class="col-2">
                    <div class="skills">
                        <img style="width:100%;" class="fluid-img" src="images/skills-backend-opti.png"  alt=""/>
                    </div>
                </div>
                <div class="col-2" style="padding: 20px;box-sizing: border-box;margin-top: -54px;">
                    <h1 class="titre">Titre</h1>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc odio, posuere id efficitur
                        ac, tempus nec sapien. Phasellus varius non lorem ut lacinia. Morbi luctus ut neque ut tempor.
                        Maecenas feugiat urna in lectus sodales convallis. Suspendisse sit amet lectus lectus. Cras
                        dignissim rhoncus neque, nec finibus tortor ornare nec. Nunc dictum auctor augue, id sagittis
                        dui ultrices vitae. Mauris tempus ipsum id tortor finibus, eget elementum nibh rutrum.
                    </div>
                </div>
                <div class="col-2">
                    <div class="skills">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>