<section id="skills" class="skills">
    <div class="skills_content">
        <div class="row introduction text-center">
            <div class="col-1 ">
                <h1>Compétences</h1>
            </div>
        </div>
        <div class="row frontend text-center">
            <div class="col-1 adjust-text">
                <h2>Frontend</h2>
                <div class="text">
                    Mes langages de programmations sont le Javascript/ Typescript, le css/ Sass,
                    html/twig/fxml, php. Pour les frameworks j’utilise BootStrap, materialize,
                    semantic-ui, Symfony, Angular, et des outils comme Gulp et Webpack, pour le
                    versionning Github et Gitlab avec Git.
                </div>
            </div>
            <div class="col-1">
                <div class="skills">
                    <img style="margin:0 auto;max-width: 650px;" class="fluid-img" src="images/skills-frontend-opti.png"  alt=""/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="design col-2">
                <div class="col-2-2">
                    <div class="skills">
                        <img style="width:100%;" class="fluid-img" src="images/skills-backend-opti.png"  alt=""/>
                    </div>
                </div>
                <div class="col-2-2 adjust-text" >
                    <h2>Backend</h2>
                    <div class="text" >
                        Bien que mon domaine de prédilection est le front end developpement, j'ai acquis des
                        compétences developpement en PHP et MyQL au travers de mes différentes expérinces professionnel.
                        Plus ressement, j'ai entrepris l'apprentissage du JAVA et du python.
                    </div>
                </div>
            </div>
            <div class="backend col-2">
                <div class="col-2-2">
                    <div class="skills">
                        <img style="width:100%;" class="fluid-img" src="images/skills-backend-opti.png"  alt=""/>
                    </div>
                </div>
                <div class="col-2-2 adjust-text" >
                    <h2>Design</h2>
                    <div class="text">
                        Le graphisme est la première compétence que j'ai développer au travers
                        de mes études et de mes expériences proféssionnel avec les outils Adobe
                        tel que, Photoshop, Illustrator, Indesign, Lightroom, Premier, After
                        Effect,... et Affinity designer
                    </div>
                </div>
                <div class="col-2">
                    <div class="skills">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>