<!-- <table id="animate" border="0">
     <tbody>
     <tr>
         <td><div class="rectangle_1"></div></td>
         <td><div class="rectangle_4"></div></td>
     </tr>
     <tr>
         <td><div class="rectangle_2"></div></td>
         <td><div class="rectangle_3"></div></td>
     </tr>
     </tbody>
 </table> -->