<div style="display:none;">
    <!-- <audio id="song" controls preload="auto" loop autoplay>
         Your browser does not support the
         <source src="song/HaTom-Naya.ogg" type="audio/ogg">
     </audio>
     <script>
         var x = document.getElementById("song").autoplay;
     </script> -->
</div>