<div class="burger">
    <div class="bar-top"></div>
    <div class="bar-middle"></div>
    <div class="bar-bottom"></div>
</div>

<div class="nav" >
    <ul>
        <li onclick="window.scroll({top: (450 * 8), left: 0, behavior: 'smooth'});" class="closeMenu"><button >Mon Parcours</button></li>
        <li onclick="window.scroll({top: (1450 * 8),left: 0,behavior: 'smooth'});" class="closeMenu"><button >Mes compétences</button></li>
        <li onclick="window.scroll({top: (1650 * 10), left: 0, behavior: 'smooth'});" class="closeMenu"><button >Mes études</button></li>
        <li class="openDialog closeMenu"><button >Me contacter</button></li>
    </ul>
</div>




