<div class="burger">
    <div class="bar-top"></div>
    <div class="bar-middle"></div>
    <div class="bar-bottom"></div>
</div>

<div class="nav" >
    <ul>
        <li onclick="scrollToSmoothly(150, 600)" class="closeDialog"><button >Mon Parcours</button></li>
        <li onclick="scrollToSmoothly((1450 * 8), 600)" class="closeDialog"><button >Mes compétences</button></li>
        <li onclick="scrollToSmoothly((1650 * 8), 600)" class="closeDialog"><button >Mes études</button></li>
        <li class="openDialog"><button >Me contacter</button></li>
    </ul>
</div>