@font-face {
    font-family: 'i_pixel_uregular';
    src: url('/fonts/i-pixel-u_2-webfont.woff2') format('woff2'),
    url('fonts/i-pixel-u_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edit_undo_line_brkregular';
    src: url('fonts/edunline-webfont.woff2') format('woff2'),
    url('fonts/edunline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
    url('fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatesXBd';
    src: url('fonts/montserratalternates-extrabold-webfont.woff2') format('woff2'),
    url('fonts/montserratalternates-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat_alternatessemibold';
    src: url('fonts/montserratalternates-semibold-webfont.woff2') format('woff2'),
    url('fonts/montserratalternates-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}