<section id="header">
    <div id="intro" >
        <p>I Am</p>
        <hr />
        <h1>THOMAS GRAVY</h1>
        <hr />
        <h2>FRONT-END DEVELOPER</h2>
    </div>
    <div id="titre-route00" >
        <hr />
        <h1>MES EXPERIENCES</h1>
        <hr />
    </div>
    <img src="images/img1.png" />
</section>