<section id="header">
    <div id="intro" >
        <p>I Am</p>
        <hr />
        <h1>THOMAS GRAVY</h1>
        <hr />
        <h2>FRONT-END DEVELOPER</h2>
    </div>
    <img src="images/img1.png" />
</section>

<style>
    #intro {
        font-family: sans-serif;
        color:#D29773;
        width:350px;
        margin:0 auto;
        margin-top:120px;
        text-align: center;
    }

    #intro h1{
        padding:0;
        margin:0;
        font-size:42px;
        animation: animeIntroH1 4s ease-in-out;
        overflow: hidden;
        position: relative;
        left:50%;
        top:50%;
        transform: translate(-50%,7%);
        height:43px;
    }

    #intro h2 {
        padding:0;
        margin:0;
        margin-top: -10px;
        font-size:18px;
        animation: animeIntroH2 4s ease-in-out;
        position: relative;
        left:50%;
        top:50%;
        transform: translate(-50%,50%);
    }

    #intro p {
        padding:0;
        margin:0;
        margin-bottom: -10px;
        animation: animeIntroP 4s ease-in-out;
        position: relative;
        left:50%;
        top:50%;
        transform: translate(-50%,-60%);
    }

    #intro hr {
        padding:0;
        margin:10px 0;
        border-color:#D29773;
        animation: animeIntroHr 4s linear;
        position: relative;
        left:50%;
        top:50%;
        transform:translate(-50%,50%);
    }

    @keyframes animeIntroHr {
        0% {
            width:0;
            margin: -1px;
        }
        30% {
            width:100%;
            transform:translate(-50%,50%);
            margin: -1px;
        }

        50% {
            width:100%;
            transform:translate(-50%,50%);
            margin: -2px;
        }

        100% {
            margin:10px 0;
        }
    }

    @keyframes animeIntroH1 {
        0% {
            height:0;
        }
        30% {
            height:0;
        }

        60% {
            height:43px;
        }
    }

    @keyframes animeIntroH2 {
        0% {

            opacity:0;
        }

        60% {

            opacity:0;
        }

        100% {
            opacity:1;
        }
    }

    @keyframes animeIntroP {
        0% {
            opacity:0;
        }

        60% {
            opacity:0;
        }

        100% {
            opacity:1;
        }
    }
</style>