<section id="route-01">
    <img alt="" src="images/img2.png" />
</section>

<section id="route-02">
    <img alt="" src="images/img2.png" />
</section>

<section id="route-03">
    <img alt="" src="images/img2.png" />
</section>

<section id="route-04">
    <img alt="" src="images/img2.png" />
</section>