<section id="skills">
    <div class="title-skills">
        <hr>
        <h1>Compétences</h1>
        <hr>
    </div>
    <div class="skills-nav">
        <a class="skills-nav-btn left" href=""></a>
        <a class="skills-nav-btn right" href=""></a>
    </div>
    <ul>
        <li id="backend" class="slide">
            <div class="content-skills-text">
                <h2>Backend</h2>
                <p>
                    Mes langages de programmations sont le Javascript/ Typescript, le css/ Sass,
                    html/twig/fxml, php. Pour les frameworks j’utilise BootStrap, materialize,
                    semantic-ui, Symfony, Angular, et des outils comme Gulp et Webpack, pour
                    le versionning Github et Gitlab avec Git.
                </p>
                <img class="fluid" src="images/skills-1.png" alt=""/>
            </div>
        </li>
        <li id="frontend" class="slide active">
            <div class="content-skills-text">
                <h2>Frontend</h2>
                <p>
                    Mes langages de programmations sont le Javascript/ Typescript, le css/ Sass,
                    html/twig/fxml, php. Pour les frameworks j’utilise BootStrap, materialize,
                    semantic-ui, Symfony, Angular, et des outils comme Gulp et Webpack, pour
                    le versionning Github et Gitlab avec Git.
                </p>
                <img class="fluid" src="images/skills-1.png" alt=""/>
            </div>
        </li>
        <li id="design" class="slide">
            <div class="content-skills-text">
                <h2>Design</h2>
                <p>
                    Mes langages de programmations sont le Javascript/ Typescript, le css/ Sass,
                    html/twig/fxml, php. Pour les frameworks j’utilise BootStrap, materialize,
                    semantic-ui, Symfony, Angular, et des outils comme Gulp et Webpack, pour
                    le versionning Github et Gitlab avec Git.
                </p>
                <img class="fluid" src="images/skills-1.png" alt=""/>
            </div>
        </li>
    </ul>
</section>