<section id="studies" class="studies">
    <div class="title-studies">
        <hr>
        <h1> Etudes & Formations</h1>
        <hr>
    </div>
    <div class="container-timeLineH">
        <ul id="slider-nav" class="timeLineH">
            <li>
                <button class="date-time active">2020</button>
            </li>
            <li>
                <button class="date-time">2019</button>
            </li>
            <li>
                <button class="date-time">2017</button>
            </li>
            <li>
                <button class="date-time">2011</button>
            </li>
            <li>
                <button class="date-time">2010</button>
            </li>
        </ul>
    </div>
    <div id="slider-content" class="slider">
        <div class="slide show">
            <div class="case">
                <h1 class="color-green">Bachelier : 2ème année en Informatique de gestion</h1>
                <h2 class="color-green">IEPSCF Namur Cadets, Namur</h2>
                <p>
                    Cours : bases des réseaux, informatique système d'exploitation (Linux),
                    programmation orientée objet (JAVA), projet de développement web (Symfony),
                    projet d'analyse et de conception, éléments de statistique, organisation
                    des entreprises et elements de management.
                </p>
            </div>

            <div class="case">
                <h1 class="color-green">formation : Communication et relations humaines dans la gestion de projet </h1>
                <h2 class="color-green">Cefora/Cevora, Charleroi </h2>
                <p>
                    Communication et relations humaines dans la gestion de projet
                    Le contenu de la formation :
                    mécanismes, relation interpersonnelle, communication digitale et analogique,
                    assertivité et gestion des phénomènes de perception. Leadership : direction,
                    prise de décision, gestion des conflits, adaptation de son style de management
                    et obtention de résultats. Gestion d’une équipe : formation d’une équipe performante,
                    coaching, motivation et animation des temps en commun.
                </p>
            </div>
        </div>
        <div class="slide">
            <div class="case">
                <h1 class="color-green">Bachelier : 1ère année en Informatique de gestion</h1>
                <h2 class="color-green">IEPSCF Namur Cadets, Namur</h2>
                <p>
                    Cours: gestion et exploitation de bases de données (SQL), techniques de gestion de projet,
                    principes algorithmiques et programmation(JAVA, C), web principes de base(Html, css, bootstrap),
                    structure des ordinateurs, principes d'analyse informatique (UML).
                </p>
            </div>
            <div class="case">
                <h1 class="color-green">formation : Scrum Master</h1>
                <h2 class="color-green">Pyxis, Our</h2>
                <p>
                    Identifier son rôle au sein de l'équipe <br/>
                    Comprendre les fondamentaux et les éléments du framework SCRUM <br/>
                    Apprendre la gestion de projet agile <br/>
                    Apprendre à gérer les relations au sein d’une équipe agile <br/>
                    Apprendre à faciliter efficacement des réunions agiles <br/>
                </p>
            </div>
        </div>
        <div class="slide">
            <div class="case">
                <h1 class="color-green">formation : Marketing digital</h1>
                <h2 class="color-green">Atelier Digital Google, libramont</h2>
                <p>
                    Module 1 : Votre entreprise en ligne <br>
                    Module 2 : Un site internet optimal pour vos visiteurs <br>
                    Module 3 : Attirez (sans payer) plus de visiteurs vers votre site Web <br>
                    Module 4 : Attirez (en payant) plus de visiteurs vers votre site Web <br>
                    Module 5 : Les réseaux sociaux <br>
                    Module 6 : E-commerce

                </p>
            </div>
        </div>
        <div class="slide">
            <div class="case">
                <h1 class="color-green">formation : Gestionnaire en communication Multimédia </h1>
                <h2 class="color-green">CFPME, Dinant</h2>
                <p>
                    Contenu de la formation : systèmes d’exploitation courants, bases des technologies
                    de l’ordinateur et de la technologie Internet, bases des concepts et méthodologies
                    liés à la sécurité informatique, techniques d’expression et de, réalisation graphique à
                    finalités PAO et WEB, compression et optimisation des médias: connaissances des formats
                    de fichiers avec leurs usages, compression et retouches d’images, dessin vectoriel,
                    animations vectorielles, techniques de montage audiovisuelle, bases de programmation WEB.
                </p>
            </div>
        </div>
        <div class="slide">
            <div class="case">
                <h1 class="color-green">Spécialisation : Gestionnaire en communication Multimédia </h1>
                <h2 class="color-green"> CFPME, Dinant</h2>
                <p>
                    Contenu de la formation : systèmes d’exploitation courants, bases des technologies
                    de l’ordinateur et de la technologie Internet, bases des concepts et méthodologies
                    liés à la sécurité informatique, techniques d’expression et de, réalisation graphique à
                    finalités PAO et WEB, compression et optimisation des médias: connaissances des formats
                    de fichiers avec leurs usages, compression et retouches d’images, dessin vectoriel,
                    animations vectorielles, techniques de montage audiovisuelle, bases de programmation WEB.
                </p>
            </div>
        </div>
        <div class="slide">
            <div class="case">
                <h1 class="color-green">Graduat : Infographiste</h1>
                <h2 class="color-green"> CFPME, Dinant</h2>
                <p>
                    Compétences acquises : Anglais technique, techniques d'expression et de conception,
                    technique d'impression, environnement technologique et bureautique, atelier d'acquisition
                    et de retouches d'images, atelier de vectorisation et de composition, atelier de création
                    d'animation, atelier prépresse, méthode d'élaboration de documents simple, étude de conception
                    de produits évolués, atelier de modélisation et d'animation 3D, atelier multimédia d'animation
                    et de design Web, méthode d'élaboration de document multimédia, élaboration de projet.
                </p>
            </div>
            <h1 class="color-green">formation : Photographie Numérique / Argentique</h1>
            <h2 class="color-green">ILFOP, Namur</h2>
            <p>
                Compétences développées dans les domaines technique et artistique,
                maniement des techniques de communication par le biais des nouvelles technologies.
                Créations d'images par prises de vues dans des secteurs aussi variés que le reportage,
                la cité, le portrait, l'illustration et la reproduction, ainsi que l'apprentissage
                des critères esthétiques et techniques. Formation (certificat de qualification spécifique
                à l'enseignement secondaire supérieur de promotion sociale avec possibilité d'accès à la profession).
            </p>
        </div>
    </div>
</section>
<script>
    let sliderNav = document.getElementById('slider-nav');
    let datetimes = sliderNav.getElementsByClassName('date-time');
    let sliderContent = document.getElementById('slider-content');
    let slides = sliderContent.getElementsByClassName('slide');

    for (let i = 0; i < datetimes.length; i++) {
        datetimes[i].addEventListener('click', (e) => {
            let btnActive = sliderNav.getElementsByClassName('active');
            btnActive[0].classList.remove('active');
            e.target.classList.add('active');
            console.log(e.currentTarget);

            let slidesShow = sliderContent.getElementsByClassName('show');
            slidesShow[0].classList.remove('show');
            slides[i].classList.add('show');
        });
    }
</script>