{% extends 'base.html.twig' %}

{% block title %}Hello, It's me!{% endblock %}

{% block font %}
{% endblock %}

{% block javascripts %}
    <script src="assets/portfolio.js"></script>
{% endblock %}

{% block body %}
    {% include './partials/loader.html.twig' %}
    <div id="container-page" class="container-page">
        {% include 'porfolioV2/sections/s1-header.html.twig' %}
        {% include 'porfolioV2/sections/s2-route.html.twig' %}
    </div>
{% endblock %}
