section.call-to-action {
  z-index: 999;
  position: relative;
  padding: 35px;
  max-width: 920px;
  margin: 0 auto;
  overflow: hidden;

  .console {
    /*position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, 0);*/
    float: left;
    max-width: 800px;
    margin: 30px;

    .console__top {
      max-width: 800px;
      border: 4px solid #39FF64;
      padding: 10px;
      -webkit-border-top-left-radius: 20px;
      -webkit-border-top-right-radius: 20px;
      -moz-border-radius-topleft: 20px;
      -moz-border-radius-topright: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: #040404;

      .circle {
        width: 10px;
        height: 10px;
        border: 4px solid #39ff64;
        border-radius: 50%;
        display: inline-block;
        margin-right: 2px;
        margin-left: 2px;
      }
    }

    .console__middle {
      overflow: hidden;
      padding: 10px;
      max-width: 800px;
      border-left: 4px solid #39ff64;
      border-right: 4px solid #39ff64;
      background-color: #040404;

      pre {
        font-size: 18px;
        letter-spacing: -0.04em;
        color: #fff;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 1.5;

        .orange {
          color: #D16D28;
        }

        .yellow {
          color: #FFFF87;
        }

        .green {
          color: #5B7B49;
        }
      }

      @media screen and (max-width: 900px) {
        pre {
          font-size: 18px;
        }
      }

      @media screen and (max-width: 870px) {
        pre {
          font-size: 16px;
        }
      }

      @media screen and (max-width: 800px) {
        pre {
          font-size: 13px;
        }
      }
    }

    .console__bottom {
      padding: 10px;
      max-width: 800px;
      border: 4px solid #39FF64;
      background-color: #39FF64;
      height: 10px;
      -webkit-border-bottom-right-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      -moz-border-radius-bottomright: 20px;
      -moz-border-radius-bottomleft: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

  }

  .console_second {
    /*top: 68%;
    right: 20px;
    position: absolute;
    transform: translate(0%, 68%);*/
    max-width: 300px;
    float: right;
    margin-top: -156px;
    margin-right: 30px;

    .console__top {
      width: 300px;
      border: 4px solid #39FF64;
      padding: 10px;
      -webkit-border-top-left-radius: 20px;
      -webkit-border-top-right-radius: 20px;
      -moz-border-radius-topleft: 20px;
      -moz-border-radius-topright: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: #040404;

      .circle {
        width: 10px;
        height: 10px;
        border: 4px solid #39ff64;
        border-radius: 50%;
        display: inline-block;
        margin-right: 2px;
        margin-left: 2px;
      }
    }

    .console__middle {
      padding: 10px;
      width: 300px;
      border-left: 4px solid #39ff64;
      border-right: 4px solid #39ff64;
      background-color: #040404;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .console__bottom {
      padding: 10px;
      width: 300px;
      border: 4px solid #39FF64;
      background-color: #39FF64;
      height: 10px;
      -webkit-border-bottom-right-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      -moz-border-radius-bottomright: 20px;
      -moz-border-radius-bottomleft: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

  }

  .more {
    position: relative;
    top: 50%;
    left: 40%;
    display: inline-block;

    h2 {
      color: white;
    }

    .arrow_bottom {
      width: 25px;
    }
  }
}

@media screen and (max-width: 800px) {

  section.call-to-action {
    padding: 0px;
  }
  section.call-to-action .console,
  section.call-to-action .console_second,
  section.call-to-action .more .arrow_bottom {
    display:none;
  }

}
