.header__container {
  z-index:999;
  position:relative;
  .header__content {
    //transition:background-position 400ms ease-out;
    position: absolute;
    top:0;
    background-image:url("../images/header/tinified/tinified/header_plan04.png"), url("../images/header/tinified/tinified/header_plan03.png"), url("../images/header/tinified/tinified/header_plan02.png"), url("../images/header/tinified/tinified/header_plan01.png");
    background-repeat: no-repeat;
    background-size:110%;
    background-position:center center;
    width: 100%;
    height: 100%;
  }
}
