.intro__container {
    z-index:999;
    height: 100%;
    position:relative;
    .intro__content {
      //transition:all 20ms ease-out;
      position: absolute;
      top:0;
      background-image:url("../images/intro/intro_canvas.png"), url("../images/intro/intro_plan_1.png"),url("../images/intro/intro_canvas.png"), url("../images/intro/intro_plan_0.png");
      background-repeat: no-repeat, no-repeat;
      background-size:110%;
      background-position: top, top, top, top;
      width: 100%;
      height: 100%;
    }
}