.timeline {
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 45%;

  /*
  * Timeline
  */
  ul {
    padding: 0;
    margin: 0;

    li {
      text-align: center;
      list-style-type: none;
      position: relative;
      overflow: hidden;
      padding: 100px 0 100px 0;

      .text.opacity {
        transition: all 0.5s ease-in-out;
        opacity: 0;
      }

      img.effect {
        visibility: hidden;
        opacity: 0;
        transition: all 1.5s ease-in-out;
        box-sizing: border-box;
        text-align: center;
      }

      & :nth-child(odd) img.effect {
        opacity: 0;
        position: relative;
      }

      & :nth-child(even) img.effect {
        opacity: 0;
        position: relative;
      }
    }

    /*
    * IMAGES
    */
    & .in-view img.effect {
      visibility: visible;
      opacity: 1;
      margin-right: 0;
      margin-left: 0;
    }

    & .in-view .text.opacity {
      opacity: 1;
    }

    & .in-view:nth-child(1) > img {
      max-width: 500px;
      transform: translate(-20%, 20%);
    }

    & .in-view:nth-child(2) > img {
      max-width: 530px;
      transform: translate(20%, 20%);
    }

    & .in-view:nth-child(3) > img {
      max-width: 430px;
      transform: translate(-30%, 0%);
    }

    & .in-view:nth-child(4) > img {
      max-width: 400px;
      transform: translate(20%, 20%);
    }

    /*
    * TEXTES
    */
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 300px;
      width: 100%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      color: white;

      @media screen and (max-width: 950px) {
        max-width: 250px;
      }

      @media screen and (max-width: 950px) {
        h1, h2, h3 {
          font-size: 30px;
          margin: 0;
          padding: 0;
        }
      }

      h1, h2, h3 {
        margin: 0;
        padding: 0;
      }


      h1 {
        font-weight: bolder;
        font-style: normal;
        font-size: 35px;
      }

      h2 {
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
      }

      h3, p {
        font-weight: normal;
        font-style: italic;
        font-size: 16px;
      }

      p {
        font-weight: normal;
        font-style: normal;
      }
    }

    li:nth-child(1) {
      .text {
        text-align: left;
        transform: translate(-30%, -80%);
      }
    }

    li:nth-child(2) {
      .text {
        text-align: right;
        transform: translate(-90%, -74%);
      }
    }

    li:nth-child(3) {
      .text {
        text-align: left;
        transform: translate(5%, -50%);;
      }
    }

    li:nth-child(4) {
      .text {
        text-align: right;
        transform: translate(-70%, -70%);
      }
    }
  }
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 800px) {
  .timeline {
    top: 50%;
  }
}


@media screen and (max-width: 550px) {
  .timeline {
    top: 70%;
  }
}


