<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="images/logo.png" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block font %}{% endblock %}

        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body class="bg">
        {% block body %}{% endblock %}
    </body>
</html>
