@font-face {
  font-family: "DIN-Alternate-Bold";
  src: local("DIN Alternate Bold"), url("/assets/fonts/DINAlternate-Bold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  //background: url("/assets/images/body/background-body-02.png"), linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 58%, rgba(40,40,40,1) 100%);
  //background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 58%, rgba(40,40,40,1) 100%);
  background-size: 100%;
  //font-family: "DIN-Alternate-Bold", sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  transition: background-attachement 1.5s ease-in;
  background: rgb(0, 0, 0) url("/assets/images/body/background-body-02.png") repeat scroll;
}


button, input, textarea {
  outline:none;
  color:#040404;
}


@keyframes gradient {
  0% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 0%, rgba(4,4,4,1) 0%, rgba(4,4,4,1) 100%);
    color: rgba(57,255,100,1);
  }

  10% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 10%, rgba(4,4,4,1) 10%, rgba(4,4,4,1) 100%);
    color: rgba(57,255,100,1);
  }

  20% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 20%, rgba(4,4,4,1) 20%, rgba(4,4,4,1) 100%);

  }

  30% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 30%, rgba(4,4,4,1) 30%, rgba(4,4,4,1) 100%);
    color: rgba(57,255,100,1);
  }

  40% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 40%, rgba(4,4,4,1) 40%, rgba(4,4,4,1) 100%);
  }

  50% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 50%, rgba(4,4,4,1) 50%, rgba(4,4,4,1) 100%);
  }

  60% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 60%, rgba(4,4,4,1) 60%, rgba(4,4,4,1) 100%);
  }

  70% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 70%, rgba(4,4,4,1) 70%, rgba(4,4,4,1) 100%);
  }

  80% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 80%, rgba(4,4,4,1) 80%, rgba(4,4,4,1) 100%);
  }

  90% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 90%, rgba(4,4,4,1) 90%, rgba(4,4,4,1) 100%);
  }

  100% {
    background:linear-gradient(90deg, rgba(57,255,100,1) 0%, rgba(56,250,98,1) 100%, rgba(4,4,4,1) 100%, rgba(4,4,4,1) 100%);
    color:#040404;
  }
}


button:hover {
  /* set time duration to your needs */
  animation: gradient 500ms ease-in-out;
  color:#040404;
  box-shadow: none;
}

button:focus {
  background: rgba(57,255,100,0.8)
}

button:active {
  background: rgba(57,255,100,0.8)
}


.btn {
  padding: 20px;
  padding-top: 18px;
  font-size: 25px;
  font-weight: bold;
  color:#040404;

  &.btn-green{
    background-color:#39ff64;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border:none;

  }
}

.loader {
  img {
    width: 125px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.fluid-img {
  width:100%;
}

.text-center {
  text-align:center;
}

.color-green {
  color:$green;
}