.timeline{
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  top:45%;

  li {
    text-align: center;
    padding:100px 0;
  }

  /*
  * IMAGES
  */

  li> div > img {
    width:40vw;

  }

  li:nth-child(1)> div > img {
    max-width:600px;
  }

  li:nth-child(2)> div > img {
    max-width: 740px;
  }

  li:nth-child(3)> div > img {
    max-width: 530px;
    margin-left: -160px;
  }

  li:nth-child(4)> div > img {
    max-width: 500px;
    margin-right:-30px;
  }


  /*
  * TEXTES
  */

  .text {
    color: white;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    max-width: 300px;
    width:100%;

    @media screen and (max-width: 950px) {
      max-width: 250px;
    }

    h1, h2, h3{
      font-size: 70px;
      margin: 0;
      padding: 0;
    }

    @media screen and (max-width: 950px) {
      h1, h2, h3{
        font-size: 50px;
        margin: 0;
        padding: 0;
      }
    }

    h2{
      font-size: 30px;
    }

    h3
    {
      font-size: 20px;
    }
  }

  li:nth-child(1) > div {
    .text {
      transform: translate(0%, -146%);
      text-align: left;
    }
  }

  li:nth-child(2) > div {
    .text {
      transform: translate(-120%, -122%);
      text-align: right;
    }
  }

  li:nth-child(3) > div {
    .text {
      transform: translate(24%, -50%);
      text-align: left;
    }
  }

  li:nth-child(4) > div {
    .text {
      transform: translate(-100%, -111%);
      text-align: right;
    }
  }
}

.timeline ul {
  padding:0;
  margin:0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  box-sizing: border-box;
  width:100%;
  text-align: center;
}

.timeline ul li:nth-child(odd) div {
  transform: scale(0);
  position: relative;

}

.timeline ul li:nth-child(even) div {
  transform: scale(0);
  position: relative;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
