.timeline{
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  top:45%;

  li {
    text-align: center;
    padding:100px 0;
  }

  /*
  * IMAGES
  */

  li> div > img {
    width:40vw;

  }

  li:nth-child(1)> div > img {
    max-width:500px;
  }

  li:nth-child(2)> div > img {
    max-width: 640px;
  }

  li:nth-child(3)> div > img {
    max-width: 430px;
    margin-left: -160px;
  }

  li:nth-child(4)> div > img {
    max-width: 400px;
    margin-right:-30px;
  }


  /*
  * TEXTES
  */

  .text {
    color: white;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    max-width: 300px;
    width:100%;

    @media screen and (max-width: 950px) {
      max-width: 250px;
    }

    h1, h2, h3{
      font-size: 35px;
      margin: 0;
      padding: 0;
    }

    @media screen and (max-width: 950px) {
      h1, h2, h3{
        font-size: 30px;
        margin: 0;
        padding: 0;
      }
    }

    h2{
      font-size: 20px;
    }

    h3, p
    {
      font-size: 16px;
    }
  }

  li:nth-child(1) > div {
    .text {
      transform: translate(0%, -110%);
      text-align: left;
    }
  }

  li:nth-child(2) > div {
    .text {
      transform: translate(-120%, -104%);
      text-align: right;
    }
  }

  li:nth-child(3) > div {
    .text {
      transform: translate(24%, -50%);
      text-align: left;
    }
  }

  li:nth-child(4) > div {
    .text {
      transform: translate(-100%, -102%);
      text-align: right;
    }
  }
}

.timeline ul {
  padding:0;
  margin:0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
}

.timeline ul li:nth-child(odd) div .effect  {
  position: relative;
  margin-top:400px;

}

.timeline ul li:nth-child(even) div .effect {
  position: relative;
  margin-top:400px;
}

.timeline ul li div .effect{
  visibility: hidden;
  opacity: 0;
  transition: all 1.5s ease-in-out;
  box-sizing: border-box;
  text-align: center;
}

.timeline ul li.in-view div .effect {
  visibility: visible;
  opacity: 1;
  margin-top:0;
}
