#header {
    position: fixed;
    img {
        width: 120% !important;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -5%);
        transition: all 1.5s ease-in-out;
        margin-top:2000px;
    }
}

#header.scrollEffectStart {
    img {
        margin-top:0;
    }
}

#header.scrollEffectEnd {
    img {
        margin-top:-2000px;
    }
}