#header {
    width: 100%;
    position: fixed;
    img.firstImg {
        width: 120% !important;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35vh);
        transition: all 1.5s ease-in-out;
        margin-top:2000px;
    }

    #intro {
        font-family: sans-serif;
        color: #D29773;
        width: 800px;
        margin: 0 auto;
        margin-top: 220px;
        text-align: center;
        transition: all 1s ease-in-out;
        opacity: 1;
    }

    #intro-title {
        transition: all 1s ease-in-out;
    }

    #intro-title img{
        width:100% !important;
        max-width:600px;
        position:relative !important;
        left:50% !important;
        top:50% !important;
        transform: translate(-50%,28%) !important;
        margin-top:initial !important;
    }

    #intro-title.hide {
        opacity: 0;
        height: 0;
        margin-top:0;
    }

    #intro h1{
        padding: 0;
        margin: 0;
        font-size: 74px;
        animation: animeIntroH1 2.5s ease-in-out;
        overflow: hidden;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 7%) skewY(-10deg);
        text-shadow: 2px 2px 4px #000000;
    }

    #intro h2 {
        padding: 0;
        margin: 0;
        margin-top: 0;
        animation: animeIntroH2 2.5s ease-in-out;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%) skewY(-10deg);
        font-size: 27px;
        font-family: 'i_pixel_uregular', 'sans-serif';
        text-shadow: 2px 2px 4px #000000;
    }

    #intro p {
        padding: 0;
        margin: 0;
        margin-bottom: -20px;
        animation: animeIntroP 2.5s ease-in-out;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);
        font-size: 27px;
    }

    #intro hr {
        padding:0;
        margin:10px 0;
        animation: animeIntroHr 2.5s linear;
        position: relative;
        left:50%;
        top:50%;
        transform:translate(-50%,50%) skewY(-10deg);
        border: 2px solid #D29773;
        text-shadow: 2px 2px 4px #000000;
    }

    @keyframes animeIntroHr {
        0% {
            width:0;
            margin: -1px;
        }
        30% {
            width:100%;
            transform:translate(-50%,50%);
            margin: -1px;
        }

        50% {
            width:100%;
            transform:translate(-50%,50%);
            margin: -2px;
        }

        100% {
            margin:10px 0;
        }
    }

    @keyframes animeIntroH1 {
        0% {
            height:0;
        }
        30% {
            height:0;
        }

        60% {
            height: 83px;
        }
    }

    @keyframes animeIntroH2 {
        0% {

            opacity:0;
        }

        60% {

            opacity:0;
        }

        100% {
            opacity:1;
        }
    }

    @keyframes animeIntroP {
        0% {
            opacity:0;
        }

        60% {
            opacity:0;
        }

        100% {
            opacity:1;
        }
    }

    #intro.hide {
        opacity: 0;
        height: 0;
        margin-top:0;
    }

    #titre-route00 {
        text-align: center;
        width: 400px;
        margin: 70px auto 0;
        opacity: 0;
        transition: all 1s linear;

        h1 {
            color: #3d2b47;
            margin:0;
            padding:0;
            font-family: 'i_pixel_uregular', 'sans-serif';
            transform: skewY(-10deg);
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        hr {
            margin:10px 0;
            transform: skewY(-10deg);
            border: 2px solid #3d2b47;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
    }
    #titre-route00.show {
        opacity: 1;
    }
}

#header.scrollEffectStart {
    img {
        margin-top:0;
    }
}

#header.scrollEffectEnd {
    img {
        margin-top:-2000px;
    }
}