#header {
    position: fixed;
    img {
        width: 120% !important;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35vh);
        transition: all 1.5s ease-in-out;
        margin-top:2000px;
    }

    #intro {
        font-family: sans-serif;
        color: #D29773;
        width: 600px;
        margin: 0 auto;
        margin-top: 160px;
        text-align: center;
        transition: all 1s ease-in-out;
        opacity: 1;
    }

    #intro h1{
        padding: 0;
        margin: 0;
        font-size: 74px;
        animation: animeIntroH1 2.5s ease-in-out;
        overflow: hidden;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 7%);
        height: 83px;
    }

    #intro h2 {
        padding: 0;
        margin: 0;
        margin-top: 0px;
        font-size: 18px;
        animation: animeIntroH2 2.5s ease-in-out;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
        font-size: 27px;
    }

    #intro p {
        padding: 0;
        margin: 0;
        margin-bottom: -20px;
        animation: animeIntroP 2.5s ease-in-out;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);
        font-size: 27px;
    }

    #intro hr {
        padding:0;
        margin:10px 0;
        border-color:#D29773;
        animation: animeIntroHr 2.5s linear;
        position: relative;
        left:50%;
        top:50%;
        transform:translate(-50%,50%);
    }

    @keyframes animeIntroHr {
        0% {
            width:0;
            margin: -1px;
        }
        30% {
            width:100%;
            transform:translate(-50%,50%);
            margin: -1px;
        }

        50% {
            width:100%;
            transform:translate(-50%,50%);
            margin: -2px;
        }

        100% {
            margin:10px 0;
        }
    }

    @keyframes animeIntroH1 {
        0% {
            height:0;
        }
        30% {
            height:0;
        }

        60% {
            height: 83px;
        }
    }

    @keyframes animeIntroH2 {
        0% {

            opacity:0;
        }

        60% {

            opacity:0;
        }

        100% {
            opacity:1;
        }
    }

    @keyframes animeIntroP {
        0% {
            opacity:0;
        }

        60% {
            opacity:0;
        }

        100% {
            opacity:1;
        }
    }

    #intro.hide {
        opacity: 0;
        height: 0;
        margin-top:0;
    }

    #titre-route00 {
        text-align: center;
        width: 300px;
        margin: 120px auto 0;
        opacity: 0;
        transition: all 1s linear;

        h1 {
            color: #291523;
            margin:0;
            padding:0;
        }
        hr {
            margin:10px 0;
            border-color: #291523;
        }
    }
    #titre-route00.show {
        opacity: 1;
    }
}

#header.scrollEffectStart {
    img {
        margin-top:0;
    }
}

#header.scrollEffectEnd {
    img {
        margin-top:-2000px;
    }
}